version: 2
updates:
  - package-ecosystem: npm
    directory: "/web"
    schedule:
      interval: daily
      time: "20:00"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "automerge"
