@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #273037;
    --text-color: #f5f5f6;
    --dark-text-color: #555;
    --background-color: #323d46;
    --light-background-color: #fefefe;
    --accent-color: #3e9bcd;
    --border-color: #fefefe;
    --error-color: #ff0000;
    --comment-color: #008800;
    --activity-color: #266b9a;

    --font-family: "Nunito Sans", apple-system, BlinkMacSystemFont,
        Helvetica Neue, Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic,
        YuGothicM, メイリオ, Meiryo, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #273037;
        --text-color: #f5f5f6;
        --dark-text-color: #828288;
        --background-color: #323d46;
        --light-background-color: #f5f5f6;
        --accent-color: #3e9bcd;
        --border-color: #47474a;
        --error-color: #ff0000;
        --comment-color: #008800;
        --activity-color: #266b9a;
    }
}

@layer base {
    body {
        @apply select-none m-0 p-0 font overflow-hidden bg-default antialiased;
        -webkit-text-size-adjust: 100%;
    }

    a {
        @apply font-semibold no-underline;
    }

    body,
    p,
    pre {
        @apply m-0;
    }

    rect {
        @apply cursor-pointer;
    }

    input {
        @apply outline-none;
    }

    select {
        @apply p-base border-none outline-none bg-none-all cursor-pointer overflow-ellipsis pl-4;
        text-indent: 0.01px;
    }

    textarea {
        @apply full p-lg border-none outline-none font bg-main;
        color: var(--text-color);
        tab-size: 4;
    }
}

@layer components {
    .label {
        @apply text-base font-semibold;
        padding: 1px 8px;
    }
    .avatar {
        @apply object-cover rounded-full;
        width: 30px;
        margin-top: 4px;
    }
    .button {
        @apply cursor-pointer relative text-color flex items-center;
        padding: 8px;

        &:hover {
            .bottom-tooltip {
                @apply visible opacity-100 text-color;
            }
        }

        &:active {
            &::after {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
        @media (max-width: 480px) {
            .bottom-tooltip {
                @apply hidden;
            }
        }
    }
}

@layer utilities {
    .full {
        @apply w-full h-full;
    }
    .font {
        font-family: var(--font-family);
    }
    .text-color {
        color: var(--text-color);
    }
    .text-accent {
        color: var(--accent-color);
    }
    .text-dark {
        color: var(--dark-text-color);
    }
    .text-main {
        color: var(--main-color);
    }
    .text-comment {
        color: var(--comment-color);
    }
    .text-activity {
        color: var(--activity-color);
    }
    .bg-default {
        background-color: var(--background-color);
    }
    .bg-main {
        background-color: var(--main-color);
    }
    .bg-accent {
        background-color: var(--accent-color);
    }
    .bg-light {
        background-color: var(--light-background-color);
    }
    .bg-none-all {
        background: transparent;
        background-image: none;
        box-shadow: none;
        appearance: none;
    }
    .empty-content {
        content: "";
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-start {
        @apply flex items-start justify-start;
    }
    .w-menu {
        width: 56px;
    }
    .h-main {
        height: calc(100vh - 120px);
    }
}

.title {
    padding: 8px 8px 16px;
    width: 90%;
    @media (max-width: 480px) {
        width: 120px;
    }
}

.header-title {
    @apply flex text-lg font-semibold overflow-hidden items-center justify-start whitespace-nowrap;
    color: #f4f4f4;
    text-overflow: ellipsis;
    text-align: left;
    padding: 2px;
}

.settings {
    @apply bg-default w-full text-color overflow-y-scroll;
    height: calc(100vh - 35px);
    @media (max-width: 480px) {
        @apply w-screen;
        height: calc(100vh - 130px);
    }

    .controls {
        padding: 4px 8px;
        margin-bottom: 8px;
    }

    .control {
        @apply flex-start flex-col;
        margin-bottom: 8px;
    }

    .input-area {
        max-width: 300px;
        width: 90%;
        padding: 4px 8px;
        input {
            @apply text-base bg-light;
            height: 34px;
            color: var(--dark-text-color);
            background-image: none;
            border: 1px solid #ccc;
            padding: 0 6px;
            margin: 0 8px;
        }

        label {
            @apply flex justify-start items-center;
        }
    }
}

.diagram-list {
    @apply flex bg-default w-screen;
    height: calc(100vh - 48px);
    @media (max-width: 480px) {
        height: calc(100vh - 128px);
    }

    .side-menu {
        @apply text-base text-dark bg-main overflow-y-scroll;
        width: 250px;

        height: calc(100vh - 48px);
        @media screen and (max-width: 480px) {
            display: none;
        }
        .item {
            @apply flex items-center cursor-pointer text-sm;
            height: 50px;
            line-height: 30px;
            padding: 8px;
            div {
                @apply w-full overflow-hidden whitespace-nowrap overflow-ellipsis;
            }
            &:hover {
                @apply text-accent;
            }
        }

        .selected {
            @apply bg-default;
        }
    }

    .diagram-text {
        @apply text-sm w-full overflow-ellipsis whitespace-nowrap overflow-hidden bg-light;
        height: 58px;
        padding: 8px;
        border-radius: 0 0 2px 2px;
        @media (max-width: 480px) {
            width: 45vw;
        }
    }

    .diagram-item {
        @apply flex items-end justify-end bg-cover cursor-pointer relative;
        width: 21%;
        border-radius: 4px;
        transition: box-shadow 0.1s ease-in-out 0.1s;
        will-change: box-shadow;
        margin: 8px 8px 16px 16px;
        height: 240px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
        border: 3px solid var(--light-background-color);

        &::after {
            @apply empty-content absolute top-0 left-0 w-full;
            height: 182px;
            transition: all 0.3s ease;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 4px 4px 0 0;
            @media (max-width: 480px) {
                height: 150px;
            }
        }

        &:hover {
            &::after {
                background-color: rgba(0, 0, 0, 0.5);
            }
            .bookmark {
                @apply block absolute;
                bottom: 30px;
                right: 9px;
            }

            .remove {
                @apply block;
            }

            .datetime {
                @apply text-xs block text-dark;
            }

            .cloud {
                @apply block absolute;
                top: 5px;
                right: 32px;
            }
            .public {
                @apply block absolute;
                top: 5px;
                right: 8px;
            }
        }

        .datetime,
        .bookmark,
        .remove {
            @apply hidden;
        }

        &:active {
            &::after {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        @media (max-width: 480px) {
            @apply items-end justify-end;
            width: 42%;
            height: 150px;
            img {
                @apply w-full;
                height: 125px;
            }
        }

        .cloud,
        .public {
            @apply hidden;
        }
    }
    .new-item-container {
        width: 20%;
        @media (max-width: 480px) {
            width: 49%;
        }
    }
    .new-item {
        @apply flex-center flex-col cursor-pointer bg-light;
        border-radius: 4px;
        height: 150px;
        margin: 0 8px 8px 8px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
        .new-item-image {
            @apply object-contain w-full;
            height: 100px;
        }
        .new-item-text {
            @apply text-sm text-main font-semibold align-middle;
            height: 20px;
            padding-top: 16px;
        }

        &:hover {
            .new-item-text {
                @apply text-accent font-semibold;
            }
        }
    }
}

.dialog {
    @apply absolute left-0 right-0;
    background-color: #f7f7f7;
    max-width: 500px;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    z-index: 101;

    .button {
        @apply border-none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    }

    .save-button {
        @apply font-semibold bg-accent;
        width: 100px;
        color: #fff;
    }
    @media (max-width: 480px) {
        @apply absolute top-0 left-0 right-0 rounded-none h-screen;
        background-color: #f7f7f7;
        max-width: 500px;
        margin: auto;
        box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
        z-index: 100;
    }
}

.menu {
    @apply relative;
    @media (max-width: 480px) {
        .menu-item {
            @apply text-base mt-0 cursor-pointer;
            margin: 0 16px;
        }
    }
}

.menu-button {
    @apply cursor-pointer;
    padding-top: 16px;

    &:hover {
        @apply relative;
        .tooltip {
            @apply visible opacity-100 text-color;
        }
    }
}

.input {
    @apply font outline-none;
    background-color: #fff;
    border-radius: 2px;
    padding: 8px;
    height: 10px;
    width: 200px;
    border: 1px solid transparent;
    margin: 8px;

    &:focus {
        @apply hidden;
    }
}

.menu-item {
    @apply cursor-pointer;
    padding: 16px;
}

.share {
    @apply w-full bg-default text-color;
    height: calc(100vh - 35px);
    .text {
        @apply text-sm;
        padding: 16px;
        line-height: 1.2;
    }

    @media (max-width: 480px) {
        @apply w-screen;
        height: calc(100vh - 130px);
    }
}

.help {
    @apply text-xl bg-default w-full text-color overflow-auto;
    height: calc(100vh - 35px);
    @media (max-width: 480px) {
        @apply w-screen;
        height: calc(100vh - 130px);
    }

    .text {
        @apply text-sm;
        padding: 16px;
    }
    .comment {
        @apply text-comment;
    }
    .activity {
        @apply text-activity;
    }

    .task {
        @apply text-accent;
    }

    .story {
        color: #ffffff;
    }

    .header {
        @apply font-semibold;
    }

    .rows {
        @apply flex text-base flex-col;
        padding: 16px;
    }

    .row {
        @apply flex;
        .item {
            @apply text-sm flex-center;
            border: 1px solid var(--border-color);
            width: 85px;
            height: 35px;
        }
    }
}

.progress {
    @apply relative block w-full overflow-hidden;
    height: 4px;
    background-color: rgba(62, 155, 205, 0.1);
    border-radius: 2px;
    background-clip: padding-box;

    .indeterminate {
        @apply bg-accent;
    }

    .indeterminate:before {
        @apply empty-content absolute top-0 left-0 bottom-0;
        background-color: inherit;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s
            cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
            infinite;
    }
}

.context-view li.action-item:nth-child(5),
.context-view li.action-item:nth-child(6) {
    display: none !important;
}

.notification {
    @apply text-sm opacity-0 fixed cursor-pointer bg-main text-color flex items-center justify-between;
    bottom: 5%;
    right: 10px;
    min-width: 300px;
    height: 40px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 100;

    @media (max-width: 480px) {
        @apply w-screen right-0 shadow-none;
        bottom: 55px;
        z-index: 200;
    }
}

.close {
    @apply cursor-pointer;
    margin-right: 16px;
}

@media (min-width: 480px) {
    .menu-item-container {
        @apply text-base text-color cursor-pointer flex items-center;
        height: 40px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .bottom-tooltip {
        @apply invisible text-center absolute opacity-0;
        z-index: 1;
        transition: opacity 500ms;
        width: 120px;
        top: 40px;
        right: -40px;

        .text {
            @apply text-sm text-color inline-block;
            background-color: #333;
            padding: 5px 10px;
            border-radius: 2px;
        }
    }

    .tooltip {
        @apply invisible text-center absolute opacity-0;
        z-index: 1;
        transition: opacity 500ms;
        width: 120px;
        bottom: 10%;
        left: 70px;
        margin-left: -60px;

        .text {
            @apply text-sm text-color inline-block;
            background-color: #333;
            padding: 5px 10px;
            border-radius: 2px;
            display: inline-block;
        }
    }

    .close {
        @apply relative opacity-80;
        width: 16px;
        height: 16px;
        &:hover {
            @apply opacity-100;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            @apply absolute empty-content;
            left: 15px;
            height: 16px;
            width: 2px;
            background-color: #fff;
        }
    }
}

.drag-over {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
    .tooltip {
        @apply hidden;
    }
    .menu-bar {
        @apply flex items-center justify-between w-screen bottom-0 fixed bg-main;
        height: 57px;
        z-index: 100;
    }

    .menu-item-container {
        @apply text-base text-color cursor-pointer flex items-center;
        height: 50px;
    }

    .menu-item {
        @apply mt-0 cursor-pointer;
        margin: 0 16px;
    }

    .menu-button {
        padding: 24px;
    }

    .main {
        @apply flex overflow-hidden relative;
    }

    .close {
        @apply absolute opacity-80;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        &:hover {
            @apply opacity-100;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            @apply absolute empty-content;
            left: 15px;
            height: 33px;
            width: 2px;
            background-color: #333;
        }
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

.monaco-editor.vs-dark .current-line {
    @apply bg-none box-border;
    border: none !important;
}

.dropdown-list {
    @apply text-sm relative bg-transparent select-none cursor-pointer outline-none;
    color: #2e2e2e;

    .list {
        @apply absolute bg-transparent m-0 overflow-y-scroll overflow-x-hidden right-0;
        z-index: 10;
        top: 33px;
        left: 1px;
        padding-left: 0;
        border-top: 0;
        height: 200px;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }

    .item {
        @apply block;
        padding: 8px;
        border: 1px solid var(--border-color);
        background-color: var(--light-background-color);

        &::after {
            @apply empty-content w-0 h-0 absolute border-solid;
            right: 8px;
            top: calc(50%);
            margin-top: -4px;
            border-width: 6px 6px 0 6px;
            border-color: #2e2e2e transparent;
        }
    }

    .dropdown-item {
        @apply w-full block;
        padding: 8px;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--light-background-color);

        &:hover {
            background-color: #ddd;
        }
    }
}

.md-content {
    padding: 8px;
}

.tags {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 35px);
    color: var(--text-color);
    .tag {
        border-radius: 8px;
        color: var(--text-color);
        padding: 8px 16px;
        margin: 8px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .normal-tag {
        background-color: var(--activity-color);
    }
    .delete-tag {
        background-color: var(--error-color);
    }
}

.fade-in {
    animation: fade-in 0.1s ease 0.1s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        @apply opacity-0;
    }
    100% {
        @apply opacity-100;
    }
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #273037;
    border-left: solid 1px #273037;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.scroll-decoration {
    box-shadow: none !important;
}
