:root {
    --main-color: #273037;
    --text-color: #f5f5f6;
    --dark-text-color: #555;
    --background-color: #323d46;
    --light-background-color: #fefefe;
    --accent-color: #3e9bcd;
    --border-color: #fefefe;
    --error-color: #ff0000;
    --comment-color: #008800;
    --activity-color: #266b9a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #273037;
        --text-color: #f5f5f6;
        --dark-text-color: #828288;
        --background-color: #323d46;
        --light-background-color: #f5f5f6;
        --accent-color: #3e9bcd;
        --border-color: #47474a;
        --error-color: #ff0000;
        --comment-color: #008800;
        --activity-color: #266b9a;
    }
}

body {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    background-color: var(--background-color);
    overflow: hidden;
    font-family: "Nunito Sans", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    font-weight: 600;
}

p,
pre {
    margin: 0;
}

rect {
    cursor: pointer;
}

input {
    outline: 0;
}

select {
    padding-right: 1em;
    padding: 8px;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    appearance: none;
}

textarea {
    font-family: "Nunito Sans", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
    width: 100%;
    height: 100%;
    padding: 16px;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
    tab-size: 4;
}

.select-none {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    padding: 8px 8px 16px;
    font-weight: 400;
    font-size: 1rem;
    width: 90%;
    @media screen and (max-width: 480px) {
        width: 120px;
    }
}

.header-title {
    color: #f4f4f4;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    padding: 2px;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: flex-start;
}

.label {
    padding: 0px 8px;
    font-size: 0.9rem;
    font-weight: 600;
}

.button {
    color: var(--text-color);
    cursor: pointer;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        background-color: transparent;
    }

    &:hover {
        &::after {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &:active {
        &::after {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.settings {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 35px);
    color: var(--text-color);
    overflow-y: scroll;
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 130px);
    }

    .controls {
        padding: 4px 8px;
        margin-bottom: 8px;
    }

    .control {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .label {
        font-size: 0.9rem;
        padding: 4px 8px;
        font-size: 0.8rem;
    }

    .input-area {
        max-width: 300px;
        width: 90%;
        padding: 4px 8px;
        input {
            height: 34px;
            color: var(--dark-text-color);
            background-color: var(--light-background-color);
            background-image: none;
            border: 1px solid #ccc;
            font-size: 0.9rem;
            padding: 0 6px;
            margin: 0 8px;
        }

        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.diagram-list {
    display: flex;
    background-color: var(--background-color);
    height: calc(100vh - 48px);
    width: 100vw;
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 128px);
    }

    .side-menu {
        color: var(--text-color);
        width: 250px;
        height: calc(100vh - 48px);
        font-size: 0.9rem;
        background-color: var(--main-color);
        overflow-y: scroll;
        @media screen and (max-width: 480px) {
            display: none;
        }
        .item {
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 30px;
            line-height: 30px;
            padding: 8px;
            font-size: 0.95rem;
            div {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &:hover {
                color: var(--accent-color);
            }
        }

        .selected {
            background-color: var(--background-color);
        }
    }

    .diagram-text {
        font-size: 0.8rem;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 42px;
        padding: 8px;
        border-radius: 0 0 2px 2px;
        background-color: var(--light-background-color);
        @media screen and (max-width: 480px) {
            width: 45vw;
        }
    }

    .diagram-item {
        width: 21%;
        border-radius: 4px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        transition: box-shadow 0.1s ease-in-out 0.1s;
        will-change: box-shadow;
        background-size: cover;
        margin: 8px 8px 16px 16px;
        height: 240px;
        cursor: pointer;
        position: relative;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
        border: 3px solid var(--light-background-color);

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 182px;
            transition: all 0.3s ease;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 4px 4px 0 0;
            @media screen and (max-width: 480px) {
                height: 150px;
            }
        }

        &:hover {
            &::after {
                background-color: rgba(0, 0, 0, 0.5);
            }
            .bookmark {
                display: block;
                position: absolute;
                bottom: 30px;
                right: 9px;
            }

            .remove {
                display: block;
            }

            .datetime {
                display: block;
                font-size: 0.7rem;
                color: var(--dark-text-color);
            }

            .cloud {
                position: absolute;
                display: block;
                top: 5px;
                right: 32px;
            }
            .public {
                position: absolute;
                display: block;
                top: 5px;
                right: 8px;
            }
        }

        .datetime,
        .bookmark,
        .remove {
            display: none;
        }

        &:active {
            &::after {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        @media screen and (max-width: 480px) {
            width: 42%;
            height: 150px;
            align-items: flex-end;
            justify-content: flex-start;
            img {
                width: 100%;
                height: 125px;
            }
        }

        .cloud,
        .public {
            display: none;
        }
    }
    .new-item-container {
        width: 20%;
        @media screen and (max-width: 480px) {
            width: 49%;
        }
    }
    .new-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        height: 140px;
        margin: 0 8px 8px 8px;
        cursor: pointer;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
        background-color: var(--light-background-color);
        .new-item-image {
            object-fit: contain;
            width: 100%;
            height: 100px;
        }
        .new-item-text {
            font-size: 0.85rem;
            height: 20px;
            vertical-align: middle;
            color: var(--main-color);
            font-weight: 600;
            padding-top: 16px;
        }

        &:hover {
            .new-item-text {
                color: var(--accent-color);
                font-weight: 600;
            }
        }
    }
}

.dialog {
    position: absolute;
    background-color: #f7f7f7;
    max-width: 500px;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    z-index: 101;

    .button {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
        border: none;
    }

    .save-button {
        width: 100px;
        font-weight: 600;
        background-color: var(--accent-color);
        color: #fff;
    }
    @media screen and (max-width: 480px) {
        position: absolute;
        background-color: #f7f7f7;
        max-width: 500px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
        border-radius: 0px;
        z-index: 100;
        height: 100vh;
    }
}

.menu {
    position: relative;

    @media screen and (min-width: 480px) {
        .menu-item {
            margin-top: 0;
            cursor: pointer;
            margin: 0 16px;
            font-size: 0.9rem;
        }
    }
}

.button {
    cursor: pointer;

    &:hover {
        position: relative;
        .bottom-tooltip {
            visibility: visible;
            opacity: 1;
            color: var(--text-color);
        }
    }

    @media screen and (max-width: 480px) {
        .bottom-tooltip {
            display: none;
        }
    }
}

.menu-button {
    padding-top: 16px;
    cursor: pointer;

    &:hover {
        position: relative;
        .tooltip {
            visibility: visible;
            opacity: 1;
            color: var(--text-color);
        }
    }
}

.input {
    background-color: #fff;
    border-radius: 2px;
    padding: 8px;
    height: 10px;
    width: 200px;
    border: 1px solid transparent;
    margin: 8px;
    outline: none;
    font-family: "Nunito Sans", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
}

.input:focus {
    border: none;
}

.menu-item {
    cursor: pointer;
    font-weight: 400;
    padding: 16px;
}

.share {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 35px);
    color: var(--text-color);

    .text {
        padding: 16px;
        line-height: 1.2;
        font-size: 0.95rem;
    }

    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 130px);
    }
}

.help {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 35px);
    color: var(--text-color);
    overflow: auto;
    font-size: 1.2rem;
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 130px);
    }

    .text {
        padding: 16px;
        line-height: 1.2;
        font-size: 0.95rem;
    }

    .comment {
        color: var(--comment-color);
    }

    .activity {
        color: var(--activity-color);
    }

    .task {
        color: var(--accent-color);
    }

    .story {
        color: #ffffff;
    }

    .header {
        font-weight: 600;
    }

    .rows {
        display: flex;
        flex-direction: column;
        padding: 16px;
        font-size: 0.9rem;
    }

    .row {
        display: flex;
        .item {
            border: 1px solid var(--border-color);
            width: 85px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
        }
    }
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: rgba(62, 155, 205, 0.1);
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;

    .indeterminate {
        background-color: var(--accent-color);
    }

    .indeterminate:before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s
            cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
            infinite;
    }
}

.context-view li.action-item:nth-child(5),
.context-view li.action-item:nth-child(6) {
    display: none !important;
}

.notification {
    opacity: 0;
    position: fixed;
    bottom: 5%;
    right: 10px;
    min-width: 300px;
    height: 40px;
    cursor: pointer;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    color: var(--text-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;

    @media screen and (max-width: 480px) {
        min-width: 100vw;
        width: 100vw;
        right: 0;
        bottom: 55px;
        z-index: 200;
        box-shadow: none;
    }
}

.close {
    margin-right: 16px;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .menu-item-container {
        font-size: 0.9rem;
        color: var(--text-color);
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .bottom-tooltip {
        visibility: hidden;
        text-align: center;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 500ms;
        width: 120px;
        top: 40px;
        right: -40px;

        .text {
            background-color: #333;
            color: var(--text-color);
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 0.8rem;
            display: inline-block;
        }
    }

    .tooltip {
        visibility: hidden;
        text-align: center;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 500ms;
        width: 120px;
        bottom: 10%;
        left: 70px;
        margin-left: -60px;

        .text {
            background-color: #333;
            color: var(--text-color);
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 0.8rem;
            display: inline-block;
        }
    }

    .close {
        width: 16px;
        height: 16px;
        position: relative;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 16px;
            width: 2px;
            background-color: #fff;
        }
    }
}

.drag-over {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
    .tooltip {
        display: none;
    }
    .menu-bar {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 57px;
        background-color: var(--main-color);
        position: fixed;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
    }

    .menu-item-container {
        font-size: 0.9rem;
        color: var(--text-color);
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .menu-item {
        margin-top: 0;
        cursor: pointer;
        margin: 0 16px;
    }

    .menu-button {
        padding: 24px;
    }

    .main {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 33px;
            width: 2px;
            background-color: #333;
        }
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

.monaco-editor.vs-dark .current-line {
    background: none;
    border: none !important;
    box-sizing: border-box;
}

.dropdown-list {
    font-size: 0.8rem;
    position: relative;
    background-color: transparent;
    color: #2e2e2e;
    outline: none;
    user-select: none;
    cursor: pointer;

    .list {
        position: absolute;
        z-index: 10;
        top: 33px;
        left: 1px;
        right: 0;
        background-color: transparent;
        padding-left: 0;
        margin: 0;
        border-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 200px;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }

    .item {
        display: block;
        padding: 8px;
        border: 1px solid var(--border-color);
        background-color: var(--light-background-color);

        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 8px;
            top: calc(50%);
            margin-top: -4px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #2e2e2e transparent;
        }
    }

    .dropdown-item {
        width: 100%;
        display: block;
        padding: 8px;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--light-background-color);

        &:hover {
            background-color: #ddd;
        }
    }
}

.md-content {
    padding: 8px;
}

.tags {
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 35px);
    color: var(--text-color);
    .tag {
        border-radius: 8px;
        color: var(--text-color);
        padding: 8px 16px;
        margin: 8px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .normal-tag {
        background-color: var(--activity-color);
    }
    .delete-tag {
        background-color: var(--error-color);
    }
}

.fade-in {
    animation: fade-in 0.1s ease 0.1s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #273037;
    border-left: solid 1px #273037;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.scroll-decoration {
    box-shadow: none !important;
}
