body {
    background-color: #323b46;
    overflow: hidden;
    font-family: "Rubik", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

rect {
    cursor: pointer;
}

.monaco-scrollable-element,
.monaco-editor,
.overflow-guard {
    width: 100% !important;
}

.svg-text {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    color: #f5f5f6;
    cursor: pointer;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: -10px;
        left: -10px;
        width: 70%;
        height: 100%;
        padding: 16px;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
        &::after {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &:active {
        &::after {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.settings {
    background-color: #272c32;
    height: calc(100vh - 35px);
    color: #fefefe;
    overflow-y: scroll;
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 40px);
    }

    .controls {
        padding: 4px 8px;
        margin-bottom: 8px;
    }

    .control {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .label {
        font-size: 0.9rem;
        padding: 4px 8px;
        font-size: 0.9rem;
    }

    .input-area {
        width: 40%;
        padding: 4px 8px;
        input {
            width: 100%;
            height: 34px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.9rem;
            padding: 0 6px;
        }
    }
}

.diagram-list {
    background-color: #272c32;
    width: calc(100vw - 56px);
    height: calc(100vh - 40px);
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 40px);
    }
}

.diagram-text {
    font-size: 0.8rem;
    width: 19vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    height: 40px;
    padding: 8px;
    background-color: #fefefe;
    @media screen and (max-width: 480px) {
        width: 45vw;
    }
}

.diagram-item {
    width: 20%;
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-radius: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: box-shadow 0.1s ease-in-out 0.1s;
    background-size: cover;
    margin: 16px;
    height: 190px;
    cursor: pointer;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 133px;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
        &::after {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &:active {
        &::after {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    @media screen and (max-width: 480px) {
        width: 40vw;
        height: 150px;
        align-items: flex-end;
        justify-content: flex-start;
        img {
            width: 39vw;
            height: 125px;
        }
    }
}

.menu {
    position: relative;

    @media screen and (min-width: 480px) {
        .menu-item {
            margin-top: 0;
            cursor: pointer;
            margin: 0 16px;
        }
    }
}

.menu-item:hover {
    color: #266b9a;
}

.menu-button {
    padding-top: 16px;
    cursor: pointer;

    &:hover {
        position: relative;
        .tooltip {
            visibility: visible;
            opacity: 1;
            color: #f5f5f6;
        }
    }
}

.input {
    background-color: #fff;
    border-radius: 2px;
    padding: 8px;
    height: 10px;
    width: 200px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin: 8px;
    outline: none;
    font-family: "Rubik", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
}

.input:focus {
    border: none;
}

.error {
    background-color: #ff0000;
    width: 35px !important;
    margin-top: 2px !important;
    height: 14px !important;
}

.tab-selected {
    border-bottom: 2px solid #848a90;
    color: #fff;
    width: 50vw;
    text-align: center;
    margin: 8px;
    margin-bottom: 2px;
}

.tab {
    color: #f5f5f6;
    width: 50vw;
    text-align: center;
    margin: 8px;
    padding-bottom: 2px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 56px;
    min-width: 56px;
    background-color: #323b46;
}

.menu-item {
    cursor: pointer;
}

.main {
    display: flex;
    overflow: hidden;
    position: relative;
}

.menu {
    min-width: 80px;
    position: absolute;
    z-index: 10;
    height: auto;
    background-color: #f5f5f6;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-out;
}

.help {
    background-color: #272c32;
    height: calc(100vh - 35px);
    color: #fefefe;
    overflow: auto;
    @media screen and (max-width: 480px) {
        width: 100vw;
        height: calc(100vh - 130px);
    }

    .text {
        padding: 16px;
        line-height: 1.2;
        font-size: 0.8rem;
    }

    .comment {
        color: #008800;
    }

    .activity {
        color: #266b9a;
    }

    .task {
        color: #3e9bcd;
    }

    .story {
        color: #ffffff;
    }

    .header {
        font-weight: 600;
    }

    .rows {
        display: flex;
        flex-direction: column;
        padding: 16px;
        font-size: 0.9rem;
    }

    .row {
        display: flex;
        .item {
            border: 1px solid #fefefe;
            width: 85px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
        }
    }
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: rgba(62, 155, 205, 0.1);
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;

    .indeterminate {
        background-color: #266b9a;
    }

    .indeterminate:before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s
            cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
            infinite;
    }
}

.context-view li.action-item:nth-child(5),
.context-view li.action-item:nth-child(6) {
    display: none !important;
}

.notification {
    position: fixed;
    bottom: 5%;
    right: 10px;
    min-width: 300px;
    height: 40px;
    cursor: pointer;
    background-color: #2d2d30;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.close {
    margin-right: 16px;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .menu-item-container {
        font-size: 0.8rem;
        color: #4a4a4a;
        cursor: pointer;
        height: 35px;
        display: flex;
        align-items: center;
        border-bottom: solid 0.5px #cfcdcd;
    }

    .tooltip {
        visibility: hidden;
        text-align: center;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 500ms;
        width: 120px;
        bottom: 10%;
        left: 70px;
        margin-left: -60px;

        .text {
            background-color: #333;
            color: #f5f5f6;
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 0.8rem;
            display: inline-block;
        }
    }

    .close {
        width: 16px;
        height: 16px;
        position: relative;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 16px;
            width: 2px;
            background-color: #fff;
        }
    }
}

@media screen and (max-width: 480px) {
    .tooltip {
        display: none;
    }
    .menu-bar {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 57px;
        background-color: #323b46;
        box-shadow: inset 0 -96px 48px -96px #272c32;
        position: fixed;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
    }

    .menu-item-container {
        font-size: 1.1rem;
        color: #4a4a4a;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: solid 0.5px #cfcdcd;
    }

    .menu-item {
        margin-top: 0;
        cursor: pointer;
        margin: 0 16px;
    }

    .menu-button {
        padding: 24px;
    }

    .main {
        display: flex;
        overflow: hidden;
        position: relative;
        height: calc(100vh - 56px);
    }

    .notification {
        position: fixed;
        bottom: 5%;
        right: 0;
        width: 100vw;
        height: 40px;
        background-color: #2d2d30;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.8rem;
    }

    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 33px;
            width: 2px;
            background-color: #333;
        }
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}
