:root {
    --main-color: #273037;
    --text-color: #a4abb7;
    --secondary-text-color: #b9b9b9;
    --dark-text-color: #555;
    --background-color: #323d46;
    --light-background-color: #fefefe;
    --accent-color: #3e9bcd;
    --border-color: #fefefe;
    --error-color: #f55c64;
    --comment-color: #008800;
    --activity-color: #266b9a;
    --disabled-color: #dddddd;
    --font-family: 'Nunito Sans', apple-system, BlinkMacSystemFont,
        Helvetica Neue, Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic,
        YuGothicM, メイリオ, Meiryo, sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    overflow: hidden;
    background-color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 600;
    text-decoration: none;
}

p,
pre {
    margin: 0;
}

rect {
    cursor: pointer;
}

input {
    outline: none;
}

select {
    border-style: none;
    padding: 0.75rem;
    background: transparent;
    background-image: none;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    text-overflow: ellipsis;
    padding-left: 1rem;
    outline: none;
    text-indent: 0.01px;
}

textarea {
    width: 100%;
    height: 100%;
    border-style: none;
    font-family: var(--font-family);
    background-color: var(--main-color);
    outline: none;
    color: var(--text-color);
    tab-size: 4;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #273037;
    border-left: solid 1px #273037;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}
