name: ci
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - release

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: harehare/elm-analyse-action@v1
        with:
          working_directory: ./web
          ignore_error: true
      - uses: actions/labeler@main
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: server
      - name: Run Tests
        working-directory: web
        run: npm run test
